<div class="container d-flex flex-column mt-4">
    <h4 class="text-primary">Εισαγωγή συμβολαίου</h4>
    <p class="lead">Παρακαλώ εισάγετε τα στοιχεία του συμβολαίου σας.</p>

    @if (contractStatus()) {
        @if (contractStatus()?.success) {
            <div class="alert alert-success">
                {{contractStatus()?.message}}
            </div>
        } @else if (!contractStatus()?.success) {
            <div class="alert alert-danger">
                {{contractStatus()?.message}}
            </div>
        }
    }
    <form class="d-flex flex-column " [formGroup]="newContractForm" >
            <span class="mb-1">Εισαγωγή αριθμού συμβολαίου</span>
            <mat-form-field appearance="outline">
                <mat-label>Αρ. Συμβολαίου</mat-label>
                <input type="text" matInput formControlName="contractNum">
                 <mat-error>Ο αριθμός είναι υποχρεωτικός.</mat-error>
            </mat-form-field>

        
        <div class="d-flex gap-3">
            <div class="d-flex flex-column">
                <span class="mb-1">Εισάγετε το ονοματεπώνυμο του Αγοραστή</span>
                <mat-form-field appearance="outline">
                    <mat-label>Ονοματεπώνυμο Αγοραστή</mat-label>
                    <input type="text" matInput formControlName="contractBuyer">    
                </mat-form-field>
            </div>
            <div class="d-flex gap-3">
                <div class="d-flex flex-column">
                    <span class="mb-1">Εισάγετε το Ονοματεπώνυμο του Πωλητή</span>
                    <mat-form-field appearance="outline">
                        <mat-label>Ονοματεπώνυμο πωλητή</mat-label>
                        <input matInput formControlName="contractSeller">
                     </mat-form-field>
                </div>
            </div>
        </div>
        <span class="mb-1">Εισάγετε το τίμημα</span>
        <mat-form-field appearance="outline">
            <mat-label>Τίμημα</mat-label>
            <input matInput formControlName="contractPrice">
        </mat-form-field>
         <span class="mb-1">Εισάγετε την τοποθεσία του ακινήτου</span>
        <mat-form-field appearance="outline">
            <mat-label>Τοποθεσία ακινήτου</mat-label>
            <input matInput formControlName="propertyArea">
        </mat-form-field>
        <span>Οριστικοποίηση συμβολαίου</span>
        <mat-checkbox formControlName="isSigned">Το συμβόλαιο έχει υπογραφεί</mat-checkbox>   
    </form>
    <div class="d-flex gap-3 mt-5">
        <button mat-raised-button type="button" (click)="onResetValues()">Καθαρισμός Φόρμας</button>
        <button mat-flat-button type="button" [disabled]="newContractForm.invalid" (click)="onSubmit()">Εισαγωγή</button>
    </div>
</div>