<div class="mt-4">
    <h4 class="text-primary">New contract</h4>
    <p class="lead">Please insert contract details </p>

    @if (contractStatus()) {
        @if (contractStatus()?.success) {
            <div class="alert alert-success">
                {{contractStatus()?.message}}
            </div>
        } @else if (!contractStatus()?.success) {
            <div class="alert alert-danger">
                {{contractStatus()?.message}}
            </div>
        }
    }
    <form class="d-flex flex-column " [formGroup]="newContractForm" >
        <span class="mb-1">Insert the number of signed contract:</span>
        <mat-form-field appearance="outline">
            <mat-label>Contract Number</mat-label>
            <input type="number" matInput formControlName="contractNum">   
        </mat-form-field>
        <div class="d-flex gap-3">
            <div class="d-flex flex-column">
                <span class="mb-1">Insert the name of the buyer:</span>
                <mat-form-field appearance="outline">
                    <mat-label>Buyer's Fullname</mat-label>
                    <input type="text" matInput formControlName="contractBuyer">
                    <mat-error>Buyer's name is required.</mat-error>
                </mat-form-field>
            </div>
            <div class="d-flex gap-3">
                <div class="d-flex flex-column">
                    <span class="mb-1">Insert the name of the seller:</span>
                    <mat-form-field appearance="outline">
                        <mat-label>Seller's Fullname</mat-label>
                        <input matInput formControlName="contractSeller">
                     </mat-form-field>
                </div>
            </div>
        </div>
        <span class="mb-1">Insert the price of contract:</span>
        <mat-form-field appearance="outline">
            <mat-label>Price</mat-label>
            <input matInput formControlName="contractPrice">
        </mat-form-field>
         <span class="mb-1">Insert the location of the property:</span>
        <mat-form-field appearance="outline">
            <mat-label>Property Area</mat-label>
            <input matInput formControlName="propertyArea">
        </mat-form-field>
        <span>Check whether contract is final or not:</span>
        <mat-checkbox formControlName="isSigned">Contract signed</mat-checkbox>

        
        
        
    </form>
    <div class="d-flex gap-3 mt-5">
        <button mat-raised-button type="button" (click)="onResetValues()">Reset</button>
        <button mat-flat-button type="button" [disabled]="newContractForm.invalid" (click)="onSubmit()">Submit</button>
    </div>
    
</div>


<!-- <div>
    <table>
        <thead>
            <tr>
                <th>Contract Number</th>
                <th>Buyer</th>
                <th>Created By</th>
            </tr>
        </thead>
        <tbody>
            @for (c of contracts(); track c) {
                <tr>
                    <td>{{c.contractNum}}</td>
                    <td>{{c.contractBuyer}}</td>
                    <td>{{c.createdBy?.username}}</td>
                    <td><span role="button"> view</span></td>
                    <td><span role="button"> update</span></td>
                </tr>
            }
        </tbody>
    </table>
</div> -->

