<nav class="navbar border-bottom justify-content-between">
    <a class="navbar-brand ms-3" routerLink=""><img src="/img/logo-new.png" alt="NotaryFlow" class="logo"></a>
    @if (user()) {
        <div>
            <span class="p-2 m-3 fw-lighter"> Welcome, {{user()?.username}}!</span>
            <span class="me-3 fw-lighter" role="button" routerLink="user-login" (click)="logout()">Logout</span>
        </div>
    } @else {
        <div>
            <span role="button" class=" p-2  m-3 fw-lighter ">Sign Up <i class="bi bi-person-fill"></i></span>
            <span class="me-3 fw-lighter"  role="button" routerLink="user-login">Login <i class="bi bi-box-arrow-in-right"></i></span>
        </div>
    }
</nav>