<div class="d-flex flex-column">
    <div class="mt-5 p-5 rounded-4 text-center text-light" style="background-color: darkblue;">
         <div class="text-center p-5">
            <h1 class="mb-3">All your contracts. In a safe place.</h1>
        <p class="lead mb-5">The digital platform that simplifies the registration, organization, and monitoring of your contracts.</p>
        <img style="width: 300px;" src="/img/logo-white.png" alt="NotaryFlow White">
         </div>
    </div>

    <div class="container mt-5 text-center">
        <p class="fs-5"> The app is designed specifically for notaries. Easily register your contracts, organize your cases, and get an instant overview of your work.</p>
    </div>

    <div class="container bg-light rounded-3 mt-5 mb-5">
        <div class="  mt-2  text-primary text-center">
            <div>
                <h2>How it works</h2>
            </div>
        </div>
        <div class="d-flex justify-content-between  gap-1 text-center">
            <div class=" p-4  rounded-4">
                <h5>1. Login</h5>
                <p>Login to your account.</p>
            </div>
            <div class=" p-4 rounded-4">
                <h5>2. Create</h5>
                <p>Register your contracts easily.</p>
            </div>
            <div class=" p-4 rounded-4">
                <h5>3. Manage</h5>
                <p>Keep track of all your cases.</p>
            </div>
        </div>
    </div>

</div>

<footer class="text-center border-top ">
    <div>
        <p class="mt-2">Created with Love and Passion</p>
    </div>
</footer>