<div class="d-flex flex-column">
    <div class="mt-5 p-5 rounded-4 text-center text-light" style="background-color: darkblue;">
         <div class="text-center p-5">
            <h1 class="mb-3">Όλα τα συμβόλαιά σας σε ένα ασφαλές μέρος.</h1>
        <p class="lead mb-5">Η Ψηφιακή πλατφόρμα που απλοποιεί την εισαγωγή, οργάνωση και επίβλεψη των συμβολαίων σας.</p>
        <img style="width: 300px;" src="img/logo-white.png" alt="NotaryFlow White">
         </div>
    </div>

    <div class="container mt-5 text-center">
        <p class="fs-5"> Αυτή η εφαρμογή σχεδιάστηκε ειδικά για Συμβολαιογράφους. Καταχωρήστε εύκολα τα συμβόλαια σας, οργανώστε τις υποθέσεις σας και ανακεφαλαιώστε τις εργασίες σας.</p>
    </div>

    <div class="container bg-light rounded-3 mt-5 mb-5">
        <div class="  mt-2  text-primary text-center">
            <div>
                <h2>Πως λειτουργεί:</h2>
            </div>
        </div>
        <div class="d-flex justify-content-between  gap-1 text-center">
            <div class=" p-4  rounded-4">
                <h5>1. Είσοδος</h5>
                <p>Συνδεθείτε στον λογαριασμό σας.</p>
            </div>
            <div class=" p-4 rounded-4">
                <h5>2. Δημιουργία</h5>
                <p>Εισάγετε τα συμβόλαια σας.</p>
            </div>
            <div class=" p-4 rounded-4">
                <h5>3. Διαχείριση</h5>
                <p>Παρακολουθείστε την πορεία των υποθέσεων σας.</p>
            </div>
        </div>
    </div>

</div>

<footer class="text-center border-top ">
    <div>
        <p class="mt-2"> NotaryFlow::All Rights Reserved</p>
    </div>
</footer>