
<div class="container">
    <table class="table table-bordered table-stripped text-warp">
        <thead>
            <tr class="text-center">
                <th>Ψευδώνυμο</th>
                <th>Όνομα</th>
                <th>Επώνυμο</th>
                <th>Ρόλος Χρήστη</th>
            </tr>
        </thead>
        <tbody>
            @for (u of users(); track u) {
                <tr class="text-center">
                    <td>{{u.username}}</td>
                    <td>{{u.firstname}}</td>
                    <td>{{u.lastname}}</td>
                    <td>{{u.role}}</td>
                    
                </tr>
            }
        </tbody>
    </table>
</div>

