<div class="container">
    <div class="d-flex flex-column">
        <h2>Welcome to Notary flow</h2>
        <p class="lead">This app helps you organise your contracts </p>
        <br>
        <br>
        <h4>These are your options:</h4>

        <h6>Contracts</h6>
        <br>
        <ul>
            <li>View Contracts List</li>
            <li>Create a new Contract</li>
        </ul>
        <br>
        <h6>Users</h6>
        <br>
        <ul>
            <li>View Users List</li>
        </ul>
    </div>
</div>
