<div class="container">
    <div class="d-flex flex-column">
        <h2>Καλώς ήρθατε στο Notary flow</h2>
        <p class="lead">Αυτή η εφαρμογή σας διευκολύνει στην οργάνωση του γραφείου σας.</p>
        <br>
        <br>
        <h4>Οι επιλογές σας:</h4>

        <h6>Καρτέλα Συμβολαίων</h6>
        <br>
        <ul>
            <li>Δείτε την λίστα των συμβολαίων σας.</li>
            <li>Δείτε τις λεπτομέρειες ενός συμβολαίου</li>
            <li>Καταχωρήστε ένα νέο συμβόλαιο</li>
        </ul>
        <br>
        <h6>Χρήστες</h6>
        <br>
        <ul>
            <li>Προβολή λίστας χρηστών</li>
        </ul>
    </div>
</div>
