<div class="container">
    <div class="d-flex flex-column">
        <h2>Καλώς ήρθατε στο Notary flow</h2>
        <p class="lead">Αυτή η εφαρμογή σας διευκολύνει στην οργάνωση του γραφείου σας.</p>
        <span><br></span>
        <h4 class="mb-5">Οι επιλογές σας:</h4>
        <h6>Το προφίλ μου</h6>
        <ul>
            <li>Δείτε τα στοιχεία του <a routerLink="/my-profile">προφίλ</a> σας</li>
        </ul>
        <span><br></span>
        <h6>Καρτέλα Συμβολαίων</h6>
        <span><br></span>
        <ul>
            <li>Δείτε την <a  routerLink="/contracts-list">λίστα</a> των συμβολαίων σας.</li>
            <li>Δείτε τις λεπτομέρειες ενός συμβολαίου</li>
            <li><a routerLink="/contract-create">Καταχωρήστε</a> ένα νέο συμβόλαιο</li>
        </ul>
        <span><br></span>
        <h6>Χρήστες (Διαχειριστής)</h6>
        <span><br></span>
        <ul>
            <li>Προβολή λίστας χρηστών</li>
            <li>Δημιουργία χρήστη</li>
            <li>Διαγραφή Χρηστών</li>
        </ul>
    </div>
</div>
