<div class="container mt-5">
    <h4 class="text-primary">Εισαγωγή νέου χρήστη</h4>
    
    
    @if (registrationStatus()) {
        @if (registrationStatus()?.success) {
            <div class="alert alert-success mt-2 col-12 col-md-6">
                {{ registrationStatus()?.message }}
            </div>
        } @else {
            <div class="alert alert-danger mt-2 col-12 col-md-6">
                <p>Error: {{ registrationStatus()?.message }}</p>
            </div>
        }
    }

    <form class="d-flex flex-column align-items-center mt-4 gap-3 w-100" [formGroup]="createUserForm">
        <div class="d-flex flex-column flex-lg-row gap-3 w-100">
            <div class="d-flex flex-column gap-3 flex-fill">

                <div class="p-4 border rounded">
                    <h6 class="text-secondary mb-3">Απαραίτητα στοιχεία</h6>
                    <div class="d-flex flex-column flex-md-row gap-3 mb-4">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Email</mat-label>
                            <input matInput type="text" formControlName="email">
                            <mat-error>Το email είναι υποχρεωτικό.</mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Ψευδώνυμο</mat-label>
                            <input matInput type="text" formControlName="username">
                            @if (createUserForm.get('username')?.hasError('minlength')) {
                                <mat-error>Το Ψευδώνυμο πρέπει να ειναι τουλάχιστον 3 χαρακτήρες</mat-error>
                            } @else {
                                <mat-error>Το Ψευδώνυμο ειναι υποχρεωτικό</mat-error>
                            }
                        </mat-form-field>
                    </div>

                    <div class="d-flex flex-column flex-md-row gap-3 mb-4">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Κωδικός</mat-label>
                            <input matInput type="password" formControlName="password">
                            @if (createUserForm.get('password')?.touched && createUserForm.get('password')?.hasError('required')) {
                                <mat-error>Ο Κωδικός ειναι υποχρεωτικός</mat-error>
                            } @else if (createUserForm.get('password')?.touched && createUserForm.get('password')?.hasError('pattern')) {
                                <mat-error>
                                    Ελάχιστες απαιτήσεις: 8 χαρακτήρες, 1 κεφαλαίο, 1 πεζό, 1 αριθμός και 1 ειδικός χαρακτήρας.
                                </mat-error>
                            }
                        </mat-form-field>
                    </div>
                </div>

                <div class="p-4 border rounded">
                    <h6 class="text-secondary mb-3">Προσωπικά στοιχεία</h6>
                    <div class="d-flex flex-column flex-md-row gap-3">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Όνομα</mat-label>
                            <input matInput type="text" formControlName="firstname">
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Επώνυμο</mat-label>
                            <input matInput type="text" formControlName="lastname">
                        </mat-form-field>
                    </div>
                </div>
            </div>

     
            <div class="p-4 border rounded flex-fill" formGroupName="address">
                <h6 class="text-secondary mb-3">Στοιχεία διεύθυνσης</h6>
                <div class="d-flex flex-column flex-md-row gap-3 mb-3">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Οδός</mat-label>
                        <input matInput type="text" formControlName="street">
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Αριθμός</mat-label>
                        <input matInput type="text" formControlName="streetNum">
                    </mat-form-field>
                </div>

                <div class="d-flex flex-column flex-md-row gap-3 mb-3">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Τ.Κ.</mat-label>
                        <input matInput type="text" formControlName="postCode">
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Πόλη</mat-label>
                        <input matInput type="text" formControlName="city">
                    </mat-form-field>
                </div>

                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Χώρα</mat-label>
                    <input matInput type="text" formControlName="country">
                </mat-form-field>
            </div>
        </div>

        <div class="p-4 border rounded w-100">
            <h6 class="text-secondary mb-3">Στοιχεία επικοινωνίας</h6>
            <div formArrayName="phone">
                @for (p of phone.controls; let i = $index; track i) {
                    <div [formGroupName]="i" class="d-flex flex-column flex-md-row gap-3 align-items-start mb-2">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Τύπος</mat-label>
                            <mat-select formControlName="type">
                                <mat-option value="Κινητό">Κινητό</mat-option>
                                <mat-option value="Εργασία">Εργασία</mat-option>
                                <mat-option value="Οικία">Οικία</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Αριθμός</mat-label>
                            <input matInput type="text" formControlName="phoneNum">
                        </mat-form-field>
                        <div class="pt-2">
                            @if (phone.controls.length > 1 && i !== 0) {
                                <span role="button" class="me-2" (click)="deletePhoneNumber(i)">
                                    <i class="bi bi-x-circle fs-4"></i>
                                </span>
                            }
                            <span role="button" (click)="addPhoneNumber()">
                                <i class="bi bi-plus-circle fs-4"></i>
                            </span>
                        </div>
                    </div>
                }
            </div>
        </div>

        <div class="d-flex flex-column flex-md-row gap-3 mt-3">
            <button mat-raised-button type="button" (click)="onResetValues()">
                Καθαρισμός φόρμας
            </button>
            <button mat-flat-button color="primary" type="button" (click)="onSubmit()" [disabled]="createUserForm.invalid">
                Εγγραφή
            </button>
        </div>
    </form>
</div>